::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 30px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

.header-logo{
    padding-top: 30px;
    box-sizing: border-box;
}

#container{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #d0d0d0;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#content{
    margin: 0px;
    min-height: 300px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 25px;
}

p.footer{
    text-align: center;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 10px;
    margin: 20px 0 0 0;
}

#csm-container{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #d0d0d0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#header-content{
    box-sizing: border-box;
    margin: 30px auto;
}

#header-content h2{
    margin-bottom: 30px;
    font-size: 1.4rem;
}

#header-content p{
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
}

#csm-content{
    min-height: 550px;
    padding: 0 25px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
}

#csm_frm{
    text-align: left;
    font-size: 18px;
}

#csm_frm .form-check-inline{
    display: block;
    margin: 0;
}

#csm_frm .form-check label{
    cursor: pointer;
    margin-right: 0;
    width: 14%;
}

#csm_frm .form-button{
    text-align: center;
}

@media (min-width:641px) and (max-width:768px) {
    #csm_frm .col-form-label{
        font-size: 17px;
    }
}

@media (min-width:481px) and (max-width:640px) {
    body{margin: 20px;}
    #csm_frm .col-form-label{
        font-size: 15px;
    }

    #csm_frm .form-check label{
        font-size: 13px;
        width: 13%;
    }
}

@media (min-width: 362px) and (max-width:480px) {
    body{margin: 0;}
    #header-content p{padding: 0 15px;}
    #csm-content{padding: 0 15px;}
    #csm_frm .col-form-label{
        font-size: 14px;
    }

    #csm_frm .form-check label{
        font-size: 13px;
        width: 11.5%;
    }
}

@media (max-width:361px) {
    body{margin: 0;}
    #csm-content{padding: 0 10px;}
    #header-content p{padding: 0 10px;}
    .form-check-inline .form-check-input{margin-right: 0;}
    #csm_frm .col-form-label{
        font-size: 14px;
    }

    #csm_frm .form-check label{
        font-size: 13px;
        width: 10%;
    }
}